{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		<section class="article-content">
			<div class="gradient">
				{% if is_blog and post.thumbnail %}
					<img src="{{ post.thumbnail.src }}" class="article-thumb" alt="{{ post.thumbnail.alt }}">
					<div class="gradient-overlay" style="background: linear-gradient(#3d3c3800 0%, #3d3c38FF 100%);"></div>
				{% else %}
					<div class="article-thumb" style="background-color: #3d3c38; height: 150px;"></div>
				{% endif %}
				<div class="gradient-text" style="color: white;">
					<div>
						<h1 class="gradient-header">{{ post.title }}</h1>
						<div class="gradient-subheader">
							<div class="gradient-subheader-1">Published <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time></div>
							<address class="gradient-subheader-2"><span>By</span> <a href="{{post.author.path}}"> {{ post.author.name }} </a></address>
						</div>
					</div>
				</div>
			</div>
			<div class="gradient-below-rectangle" style="background-color: #3d3c38 ;"></div>
			<div class="gradient-below-triangle" style="border-top-color: #3d3c38 ;"></div>
			<div class="article-body">
				{{post.content}}
				<!-- comment box -->
				{% if comments_template %}
					{{ function('comments_template') }}
				{% endif %}
			</div>
		</section>
	</article>
{% endblock %}
